@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(233, 235, 247);
    background: linear-gradient(140deg, rgba(233, 235, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10% 0%;
    background-image: url("../assets/shape.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}


.leftSide__subheading {
    color: #6371c3;
    font-size: 16px;
}

.leftSide__title {
    font-size: 53px;
    color: #1a237e;
    font-weight: 400;
    margin: 0.2em 0;
}

.leftSide__title--blue {
    color: #324ffe;
}

.leftSide__text {
    color: #5d6cc0;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.8;
}

.leftSide__button {
    color: #fff;
    background-color: #ffab02;
    border: 1px solid #ffab02;
    padding: 10px 19px;
    border-radius: 6px;
    cursor: pointer;
}

.leftSide__button:hover {
    color: #ffab02;
    background-color: #fff;
}

/* .leftSide__image {
    position: absolute;
    
} */

.rightSide {
    width: 40%;
    margin-left: -10%;
}

.left-block {
    margin-top: -3%;
}

.rightSide:after {
    content: "";
    display: table;
    clear: both;
}

.rightSide__block {
    float: left;
    width: 45%;
    padding: 15px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .rightSide__block {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.rightSide__block__card {
    border: 1px solid #e5e5e5;
    padding: 26px;
    text-align: left;
    background-color: #fff;
}

.rightSide__block__title {
    color: #071173;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 500;
}

.rightSide__block__text {
    color: #7d88cd;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .leftSide {
        margin: 0 4% 6% 4%;
    }

    .left-block {
        margin-top: 0;
    }

    .leftSide__subheading {
        font-size: 14px;
    }

    .leftSide__title {
        font-size: 30px;
    }

    .leftSide__text {
        font-size: 15px;
    }

    .rightSide {
        width: 100%;
        margin: 0;
    }
}


@media screen and (max-width: 1370px) {
    .container {
        flex-direction: column;
    }

    .leftSide {
        margin: 0 4% 6% 4%;
    }

    .left-block {
        margin-top: 0;
    }

    .leftSide__subheading {
        font-size: 14px;
    }

    .leftSide__title {
        font-size: 30px;
    }

    .leftSide__text {
        font-size: 15px;
    }

    .rightSide {
        width: 100%;
        margin: 0;
    }
}